* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 98%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ce7f08;
    font-weight: normal;
}

.container .articulos {
    margin-bottom: 20px;
}

.container .articulos ul {
    list-style: none;
}

.container .articulos ul li {
    padding: 15px 10px;
    border-bottom: 1px solid #c8c8c8;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul .active a {
    background: #ce7f08;
}

.paginacion ul .disable {
    background: #c8c8c8;
    display: inline-block;
    padding: 15px 25px;
    cursor: not-allowed;
    color: #ffff;
    text-decoration: none;
}

.paginacion ul li a {
    display: inline-block;
    padding: 15px 25px;
    background: #424242;
    color: #ffff;
    text-decoration: none;
}

.paginacion ul li a:hover {
    text-decoration: none;
    background: #3299bb;
}






